<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @transaction.value %>
</p>

<p>
  <strong>Type:</strong>
  <%= @transaction.transaction_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @transaction.description %>
</p>

<p>
  <strong>Made on:</strong>
  <%= @transaction.made_on %>
</p>

<p>
  <strong>Saved on:</strong>
  <%= @transaction.saved_on %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
